/.gradle/
/build/
/app/build/
/local.properties
/keystore.properties
*.iml
.idea/
/originalWin11APP
/DS_Store
*.apk
*.keystore
*.jks
*.log
*.tmp
*.bak
/AndroidLegado
.workbuddy/*
SYNC_PUBLIC_PRIVATE_CONTRACT.md
.vscode/*
mobile-pageflip-adaptation.md
mobile-bookshelf-cloud-progress-ui.md
