/.gradle/
/build/
/app/build/
/local.properties
/keystore.properties
*.iml
.idea/
/originalWin11APP
/DS_Store
*.apk
*.keystore
*.jks
*.log
*.tmp
*.bak
/AndroidLegado
.workbuddy/*
CLAUDE.md
SYNC_PUBLIC_PRIVATE_CONTRACT.md
.claude/*
.vscode/*